* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Arial";
}

header {
  width: 100%;
  background-color: #000000;
  position: fixed;
  z-index: 100;
  top: 0px;
}

header .container, header #region_skills, header #region_proj, header #region_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto;
  width: 80%;
}

header .container #logo, header #region_skills #logo, header #region_proj #logo, header #region_con #logo {
  width: 30%;
}

header .container nav, header #region_skills nav, header #region_proj nav, header #region_con nav {
  width: 65%;
  margin-top: 4%;
}

header .container nav #button, header #region_skills nav #button, header #region_proj nav #button, header #region_con nav #button {
  display: none;
  width: 100%;
  color: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#fb8645), to(#e10d3d));
  background: linear-gradient(#fb8645, #e10d3d);
  padding: 20px 0px;
  font-size: 22px;
  margin: 0px auto;
  border-radius: 5px;
}

header .container nav ul, header #region_skills nav ul, header #region_proj nav ul, header #region_con nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto;
}

header .container nav ul li, header #region_skills nav ul li, header #region_proj nav ul li, header #region_con nav ul li {
  list-style-type: none;
}

header .container nav ul li a, header #region_skills nav ul li a, header #region_proj nav ul li a, header #region_con nav ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
}

header .container nav ul li a:hover, header #region_skills nav ul li a:hover, header #region_proj nav ul li a:hover, header #region_con nav ul li a:hover {
  background: -webkit-linear-gradient(#fb8645, #e10d3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .container nav ul li a.active, header #region_skills nav ul li a.active, header #region_proj nav ul li a.active, header #region_con nav ul li a.active {
  background: -webkit-linear-gradient(#fb8645, #e10d3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#background_image {
  background-image: url("../img/laptop11800.jpg");
  width: 100%;
  height: 110vh;
  margin-top: 6%;
  background-repeat: no-repeat;
}

#background_image #text {
  color: #ffffff;
  padding: 20% 8%;
}

#background_image #text h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  font-size: 40px;
  padding: 10px 0px;
}

#background_image #text h2 {
  text-transform: uppercase;
  background: -webkit-linear-gradient(#fb8645, #e10d3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
  font-size: 30px;
}

.border-gradient {
  border-bottom: 3px solid;
  border-image-slice: 1;
}

.border-gradient-1 {
  border-image-source: linear-gradient(to right, #fb8645, #e10d3d);
}

.title h2 {
  text-align: center;
  margin-top: 4%;
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 3%;
}

.title h2::after {
  content: "";
  display: block;
  margin: 0px auto;
  width: 4%;
  height: 7px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fb8645), to(#e10d3d));
  background: linear-gradient(#fb8645, #e10d3d);
}

.container, #region_skills, #region_proj, #region_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto;
  width: 80%;
}

.container #my_image, #region_skills #my_image, #region_proj #my_image, #region_con #my_image {
  background-color: #000000;
  width: 40%;
  border-radius: 10%;
}

.container #my_image img, #region_skills #my_image img, #region_proj #my_image img, #region_con #my_image img {
  width: 100%;
}

.container #text_me, #region_skills #text_me, #region_proj #text_me, #region_con #text_me {
  width: 40%;
  text-align: justify;
  border-radius: 30px;
  padding: 2%;
}

.container #text_me p, #region_skills #text_me p, #region_proj #text_me p, #region_con #text_me p {
  padding: 2px;
  letter-spacing: 1px;
  font-size: 19px;
}

#region_skills .skills_icons {
  width: 15%;
  margin: 4% 1%;
  text-align: center;
}

#region_skills .skills_icons i {
  font-size: 120px;
  background: -webkit-linear-gradient(#fb8645, #e10d3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

#region_skills .skills_icons .title-1 {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

#region_proj .blok_proj {
  width: 45%;
  margin-top: 4%;
}

#region_proj .blok_proj img {
  width: 100%;
  border-radius: 20px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

#region_proj .blok_proj img:hover {
  -webkit-filter: none;
          filter: none;
}

#region_proj .blok_proj .opis {
  margin-bottom: 20px;
  margin-top: 5%;
  border-radius: 20px;
  border-bottom: 3px solid #000000;
}

#region_proj .blok_proj .opis p {
  text-align: center;
  margin-top: 1.5%;
  font-size: 20px;
  font-weight: bold;
}

.opis .naslov {
  background: -webkit-linear-gradient(#fb8645, #e10d3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

#region_con #icons_con {
  width: 40%;
}

#region_con #icons_con ul li {
  list-style-type: none;
  font-size: 22px;
}

#region_con #icons_con ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 22px;
}

#region_con #icons_con ul li i {
  font-size: 35px;
  background: -webkit-linear-gradient(#fb8645, #e10d3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 7.8%;
  padding: 0px 4%;
}

#region_con #blok_con {
  width: 50%;
}

#region_con #blok_con form {
  width: 100%;
}

#region_con #blok_con form table {
  width: 100%;
}

#region_con #blok_con form table tbody tr td .forma1, #region_con #blok_con form table tbody tr td .forma2 {
  width: 100%;
  height: 50px;
  margin-top: 5%;
  border: none;
  border-bottom: 3px solid #000000;
  border-radius: 5px;
  font-size: 22px;
}

#region_con #blok_con form table tbody tr td .forma1::-webkit-input-placeholder, #region_con #blok_con form table tbody tr td .forma2::-webkit-input-placeholder {
  background: -webkit-linear-gradient(#fb8645, #e10d3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
}

#region_con #blok_con form table tbody tr td .forma1:-ms-input-placeholder, #region_con #blok_con form table tbody tr td .forma2:-ms-input-placeholder {
  background: -webkit-linear-gradient(#fb8645, #e10d3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
}

#region_con #blok_con form table tbody tr td .forma1::-ms-input-placeholder, #region_con #blok_con form table tbody tr td .forma2::-ms-input-placeholder {
  background: -webkit-linear-gradient(#fb8645, #e10d3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
}

#region_con #blok_con form table tbody tr td .forma1::placeholder, #region_con #blok_con form table tbody tr td .forma2::placeholder {
  background: -webkit-linear-gradient(#fb8645, #e10d3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
}

#region_con #blok_con form table tbody tr td .forma2 {
  height: 150px;
}

#tabela tbody tr td input[type=submit] {
  width: 20%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fb8645), to(#e10d3d));
  background: linear-gradient(#fb8645, #e10d3d);
  font-size: 20px;
  padding: 2%;
  margin-top: 3.5%;
  border: none;
  border-radius: 5px;
}

footer {
  width: 100%;
  background: #000000;
  margin-top: 8%;
  color: white;
  text-align: center;
}

footer #copy {
  font-size: 20px;
  padding: 2%;
}

footer #links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto;
}

footer #links li {
  list-style-type: none;
  margin-bottom: 2%;
}

footer #links a {
  text-decoration: none;
  background: -webkit-linear-gradient(#fb8645, #e10d3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */